<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ACT.MPTimer.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <ACT.MPTimer.Properties.Settings>
            <setting name="LastUpdateDatetime" serializeAs="String">
                <value>2000-01-01</value>
            </setting>
            <setting name="ProgressBarHeight" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="ProgressBarWidth" serializeAs="String">
                <value>150</value>
            </setting>
            <setting name="OverlayColor" serializeAs="String">
                <value>DodgerBlue</value>
            </setting>
            <setting name="OverlayFont" serializeAs="String">
                <value>メイリオ, 9.75pt</value>
            </setting>
            <setting name="OverlayLeft" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="OverlayTop" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="OverlayFontColor" serializeAs="String">
                <value>MediumBlue</value>
            </setting>
            <setting name="OverlayOpacity" serializeAs="String">
                <value>35</value>
            </setting>
        </ACT.MPTimer.Properties.Settings>
    </userSettings>
</configuration>